## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample (range(100),k=80)
print (sample_list_1)

[41, 26, 75, 14, 51, 46, 18, 81, 2, 53, 34, 54, 11, 38, 89, 64, 82, 31, 12, 48, 99, 25, 66, 44, 86, 43, 1, 72, 6, 96, 55, 71, 37, 91, 98, 79, 49, 59, 88, 93, 65, 8, 61, 15, 69, 57, 62, 77, 0, 7, 42, 10, 3, 45, 21, 84, 68, 67, 40, 27, 23, 92, 24, 22, 94, 60, 4, 30, 78, 83, 33, 35, 52, 16, 5, 56, 39, 85, 95, 80]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set (sample_list_1)
print ("Set1 Length:", len (set1), "Sample_List_1 Length:", len (sample_list_1))

Set1 Length: 80 Sample_List_1 Length: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []
while len (sample_list_2) < 80:
    sample_list_2.append(random.randint(0,100))
    
print (sample_list_2)

[2, 52, 64, 24, 37, 69, 54, 58, 87, 30, 57, 99, 14, 100, 89, 100, 87, 50, 57, 74, 24, 3, 23, 16, 40, 2, 69, 86, 81, 28, 64, 75, 35, 44, 62, 14, 75, 76, 14, 49, 84, 48, 25, 26, 66, 60, 47, 30, 20, 65, 27, 95, 20, 78, 98, 37, 22, 80, 5, 32, 10, 87, 43, 46, 22, 52, 33, 90, 89, 50, 71, 61, 35, 41, 98, 42, 72, 91, 67, 77]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set (sample_list_2)

print ("Set2 Length:", len (set2), "Sample_List_2 Length:", len (sample_list_2))

Set2 Length: 60 Sample_List_2 Length: 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1.intersection (set2)

print (set3)

{2, 3, 5, 10, 14, 16, 22, 23, 24, 25, 26, 27, 30, 33, 35, 37, 40, 41, 42, 43, 44, 46, 48, 49, 52, 54, 57, 60, 61, 62, 64, 65, 66, 67, 69, 71, 72, 75, 77, 78, 80, 81, 84, 86, 89, 91, 95, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set1.difference(set2)
print(set4)

{0, 1, 4, 6, 7, 8, 11, 12, 15, 18, 21, 31, 34, 38, 39, 45, 51, 53, 55, 56, 59, 68, 79, 82, 83, 85, 88, 92, 93, 94, 96}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.union(set2)
print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:

set1.symmetric_difference(set2) and set2.symmetric_difference(set3) and set3.symmetric_difference(set4) and set4.symmetric_difference(set5)

{2,
 3,
 5,
 10,
 14,
 16,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 35,
 37,
 40,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 50,
 52,
 54,
 57,
 58,
 60,
 61,
 62,
 64,
 65,
 66,
 67,
 69,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 84,
 86,
 87,
 89,
 90,
 91,
 95,
 98,
 99,
 100}

#### Create an empty set called `set6`.

In [10]:
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set5 | set4 | set3 == set2 | set1

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# El método pop() me ofrece un elemento en forma aleatoria 
# (no podría ser de otra manera ya que los elementos no están ordenados).


x = set1.pop()

print(x)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# remove() elimina el elemento especificado del conjunto (pero si no existe, dará error)

# Es diferente de discard() porque remove() dará un error si el elemento especificado no existe, 
# y el discard() no existirá. ("dar una vuelta a esto")

#  FELIPE/CLARA: por qué no funciona esto? 
            
            #y = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
            #for y in set1:
             #   set1.discard((y))
                
                
y = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]               
set1.discard((y))

TypeError: unhashable type: 'list'